network:
  BOT_TOKEN: 'xxx:xxxxxx'
  SERVER_ADDRESS: "127.0.0.1:8188"

bot:
  TRANSLATE: True
  HELP_TEXT: "Для генерации можно использовать текст на русском языке
По-умолчанию каритнка создаётся в разрешении 512x512 пикселей
В промпте можно указать размер ШИРИНА*ВЫСОТА, допустимые значения: 512, 768, 1024. Например - 1024*512
Команды:
/upscale .... - создаст картинку высокого разрешения
/face .... - исправит дефекты лиц"

comfyui:
  DEFAULT_MODEL: 'revAnimatedFp16_122.safetensors'
  DEFAULT_VAE: 'vaeFtMse840000Ema_v10.safetensors'
  SAMPLER: 'uni_pc'
  SAMPLER_STEPS: 30
  DEFAULT_WIDTH: 512
  DEFAULT_HEIGHT: 512
  NEGATIVE_PROMPT: 'low quality, worst quality, embedding:badhandv4, blurred, deformed, embedding:EasyNegative, embedding:badquality, watermark, text, font, signage, artist name, text, caption, jpeg artifacts'

